
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: white;
    background-color: #17074a;
    height: 100vh;
    background: url('img/bg.jpg') no-repeat center center/cover;
    background-color: #9a8ff9;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    margin-right: 400px;
    font-size: 30px;
    color: #ffffff;
}
.logo h1:hover {
    color: #4431ea;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    background: transparent;
    color: #ffff;
    padding: 8px 16px;
    border-radius: 99px;
    transition: background 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    background: transparent;
    color: #4431ea;
}

.nav-links:hover > a:not(:hover) {
    background: none;
    color: #412ecd;
}
/*photo and text*/

.about-col-1{
    flex: 1;
    padding: 10px;
    display:flex;
    justify-content: right; 
    align-items: right;
    margin-right: 90px;
    margin-top: -70px;
}

.about-col-2{
    display:flexbox;
    justify-content: center;
    font-family: "Ga Maamli", sans-serif;
    font-size: 25px;
    color:#ffffff;
    flex:1;
    padding:5px 20px;
    align-items:start;
    justify-content:space-between;
    margin-top:-500px;
    margin-left: 200px;
    padding-left: 200px;
    background-color: rgba(42, 51, 146, 0.582);
    padding: 20px 15px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
    max-width: 100%;
    line-height: 2;
    border-style: dotted;
}
.about-col-2:hover{
    background: transparent;
    border: 2px solid white;
    transform: translateX(8px);
}
.about-col-3{
    display: flex;
    gap: 10px;
    margin-top: -280px;
    margin-left: 220px;
}
.about-col-3 .bb{
    display: inline-block;
    color: white;
    background: #00279d;
    border: 3px solid transparent;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 100px;
    border-style: dotted;
    text-transform: uppercase;
    transition: all 0.55s ease;
}
.about-col-3 .cc{
    display: inline-block;
    color: white;
    background: #00279d;
    border: 3px solid transparent;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 100px;
    border-style: dotted;
    text-transform: uppercase;
    transition: all 0.55s ease;
}
.about-col-3 h2:hover{
    background: transparent;
    border: 2px solid white;
    transform: translateX(8px);
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #fff;
}

@keyframes moveCharacter {
    0% { transform: translateY(-20px); }
    50% { transform: translateX(-20px); }
    100% { transform: translateY(-20px); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.about-col-1 img {
    width: 500px;
    height: auto;
    margin-left: 120px;
    animation: moveCharacter 4s infinite ease-in-out, fadeIn 2s ease-in-out;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hero-content {
        margin-left: 0;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .player img {
        margin-left: 0;
    }
}
/*contact*/
.contact
{
    position: relative;
    min-height: 160vh;
    padding: 100px 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.contact .hero-content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 3em;
    color:rgba(0, 0, 0, 0.7);
    font-weight: 500;
}
.contact .content p{
    color:aqua;
    font-size: 1.1em;
    font-weight: 300;
}
.container{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background:pink;
    margin-top:30px;
}
.container .contactInfo{
    width:50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}
.container .contactInfo .box .icon{
    position: relative;
    min-width: 60px;
    height: 60px;
    background:repeating-conic-gradient(from 27.5deg,#def98f,#4431ea,transparent 10%, transparent 50%);
    display:flex;
    justify-content: center;
    align-items:center;
}
.container .contactInfo .box .icon::before{
    content:'';
    position: absolute;
    inset:0;
    background:repeating-conic-gradient(from 117.5deg,#def98f,#4431ea,transparent 10%, transparent 50%);
}
.container .contactInfo .box .icon::after{
    content: '';
    position: absolute;
    inset: 2px;
    background:pink;
}
.container .contactInfo .box .icon b{
    position: absolute;
    inset: 8px;
    background:#def98f;
    z-index: 2;
}
.container .contactInfo .box .icon i{
    position: relative;
    z-index: 1000;
    color:#17074a;
    font-size: 1.25em;  
}
.container .contactInfo .box .text{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: #fff;
    font-family: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color:#e8ffa4;
}
.container .contactInfo .txt{
    color:#fff;
    margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid #e8ffa4;
    padding-left:10px;
    line-height: 1em;
}
.container .contactInfo .sci{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}
.container .contactInfo .sci li a{
    color:#8532eb;
    font-size: 1.5em;
    transition: 0.25s;
}
.container .contactInfo .sci li a:hover{
    color:#def98f;
    filter: drop-shadow(0 0 5px #010101);
}
.container .contactForm{
    position: relative;
    width: 40%;
    background:repeating-conic-gradient(from var(--a),#def98f,#4431ea,transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    padding: 60px;
}
.container .contactForm::before{
    content:'';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a),#def98f,#4431ea,transparent 10%, transparent 50%) ;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.container .contactForm::after{
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid #e8ffa4;
    background: #9a8ff9;
}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate{
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}
.container .contactForm form{
    position: relative;
    z-index: 10;
}
.container .contactForm form h2{
    font-size: 2em;
    color:#ffffff;
    font-weight: 500;
}
.container .contactForm form .inputBox{
    position: relative;
    width: 100;
    margin-top: 20px;
}
.container .contactForm form .inputBox input{
    width: 100% !important;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #def98f;
    color:#ffff;
    outline: none;
    resize: none;
}
.container .contactForm form .inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color:#020202;
    transition: 0.5s;
}
.container .contactForm form .inputBox input:focus ~ span,
.container .contactForm form .inputBox textarea:focus ~
span,
.container .contactForm form .inputBox input:focus~span,
.container .contactForm form .inputBox textarea:focus{
    color:#e8ffa4;
    font-size: 0.9em;
    transform: translateY(-24px);
}

.container .contactForm form .inputBox input[type="submit"]{
    width: 100%;
    background: #e8ffa4;
    color:#010101;
    border: none;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}